<!DOCTYPE html>


<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/styling.css">
        <script src="static/script.js"></script>
        <title>Lab 8</title>
    </head>




<body class="backgroundPink">
    <h1 class="centerText">
        University of Walmart Arkansas
    </h1>

    <div class="box">
        <form id="loginForm" onsubmit="handleLogin(event)">
            <label for="Username">Username:</label>
            <input type="text" id="Username" placeholder="Enter your username">
    
            <label for="Password">Password:</label>
            <input type="password" id="Password" placeholder="Enter your password">
    
            <button type="submit">Login</button>
        </form>
    </div>
    

    
</body>








</html>




