<!DOCTYPE html>


<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static\styling.css">
        <title>Lab 8</title>
    </head>




<body class="backgroundPink">

    <h1 class="centerText">
        University of Walmart Arkansas
    </h1>

    <!--Everything is grouped inside this white box-->
    <div class="box">


        <!--Welcome "username" in the top left corner-->
        <div class="topLeftCorner" id = "welcome-message">
            <p>
                Welcome test
            </p>
        </div>


        <!--Sign out button-->
        <form>
            <input class="button topRightCorner" type="submit" id ="submitButton" value="Sign out">
        </form>


        <div class="miniBox">
            <!--My course button-->
            <input class="myCourseButton topLeftCorner" type="submit" id ="myCourseButton" value="Your Courses">
            <!--Add course button-->
            <input class="addCourseButton topRightCorner" style="left: 49%;" type="submit" id ="addCourseButton" value="Add Courses">



            <!--Data table-->
            <div>
            <table border = 1>
                    <tr>
                        <th> Course Name </th>
                        <th> Teacher </th>
                        <th> Time </th>
                        <th> Students Enrolled </th>

                        <tr>

                        </tr>
                    </tr>
            </table>
            </div>
        </div>



    </div>







    
</body>








</html>




