<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Log In</title>
        <link href="../static/login.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        
        <div class="login">
            <h1>University of Walmart Arkansas</h1>
            <form>
                <label for="user_name">USERNAME:</label><br>
                <input type="text" id="user_name" name="user_name" placeholder="Username"><br>
                <label for="password">PASSWORD:</label><br>
                <input type="password" id="password" name="password" placeholder="Password"><br>
                <button type="button" id = "loginbutton">Log In</button>
                <script src="../static/script.js"></script>
            </form>
        </div>
    </body>
</html>
